* {
}

#grid {
  width: 700px;
  height: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#grid div {
  height: calc(700px / 8);
  width: calc(700px / 8);
}

#grid div:hover {
  background-color: black;
}
