* {}

#grid {
  width: 75vmin;
  height: 75vmin;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#grid div {
  height: calc(75vmin / 8);
  width: calc(75vmin / 8);
}

.blackHover {
  background-color: black;
}

#contentFlex {
  display: flex;
}

#options {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
